@page
@using NorthwindDb
@inject NorthwindContext db
@{
    string title = "Products";
    ViewData["Title"] = $"Northwind B2B - {title}";
}
<div class="row">
    <h1 class="display-2">@title</h1>
    <p>
        There are @db.Products.Count() Products in the Northwind database.
    </p>
</div>